<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="BlogSettings" type="Jumbleblocks.Website.Configuration.BlogConfigurationSection, Jumbleblocks.Website"/>
    <section name="Jumbleblocks.Security" type="Jumbleblocks.Web.Security.Configuration.SecurityConfigurationSection, Jumbleblocks.Web.Security"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="BlogDb" connectionString="Data Source=(local)\ANDYWINSEVENSQL;Initial Catalog=BlogDb;Integrated Security=SSPI;"/>
  </connectionStrings>
  <BlogSettings Title="Jumbleblocks" PagePostSummaryCount="5" DefaultController="BlogPost" DefaultAction="Index">
    <RedirectUrls authenticationDefaultRedirectUrl="~/ControlPanel">
      <accepted url="http://jumbleblocks.com"/>
    </RedirectUrls>
  </BlogSettings>
  <Jumbleblocks.Security>
    <cookieSlidingExpiration hours="5"/>
    <cacheSlidingExpiration minutes="45"/>
  </Jumbleblocks.Security>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>

    <httpRuntime requestValidationMode="2.0"/>

    <compilation debug="true" targetFramework="4.0" batch="true" numRecompilesBeforeAppRestart="250">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule,Castle.Windsor"/>
      <add name="JumbleblocksSecurity" type="Jumbleblocks.Web.Security.JumbleblocksSecurityHttpModule, Jumbleblocks.Web.Security"/>
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/Authentication/LoginForm" timeout="2880"/>
    </authentication>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    
     <trust level="Full" /> <!-- this is log 4 net -->
  </system.web>
  <system.webServer>

    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule,Castle.Windsor"/>
      <add name="JumbleblocksSecurity" type="Jumbleblocks.Web.Security.JumbleblocksSecurityHttpModule, Jumbleblocks.Web.Security"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <logger name="Temp_Logger" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </logger>

    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="App_Data/Log.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>

      <root>
        <level value="ERROR" />
        <appender-ref ref="LogFileAppender" />
      </root>
    </appender>
  </log4net>
</configuration>